// Typography

//**** fonts ****/
@fontSerif:			"Droid Serif", Georgia, "Times New Roman", Times, serif;
@fontSans:			"Droid Sans", Arial, Helvetica, sans-serif;
@fontCode:		Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
@fontBodySize:		75%; /* base: 12px */

// colors of fonts
@colorBodyText:		#444;
@colorHeadings:		#161e21;
@colorLinks:		#4D87C7;
@colorHighlight:	#c30;
@colorBoxBorder: 	#444;